@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon08c6.eot?-9wv9x7');
	src:url('fonts/icomoond41d.eot?#iefix-9wv9x7') format('embedded-opentype'),
		url('fonts/icomoon08c6.woff?-9wv9x7') format('woff'),
		url('fonts/icomoon08c6.ttf?-9wv9x7') format('truetype'),
		url('fonts/icomoon08c6.svg?-9wv9x7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lab:before {
	content: "\e600";
}
.icon-tie:before {
	content: "\e601";
}
.icon-tools:before {
	content: "\e604";
}
.icon-hourglass:before {
	content: "\e602";
}
.icon-chronometer:before {
	content: "\e607";
}
.icon-phone:before {
	content: "\e609";
}
.icon-mail-closed:before {
	content: "\e605";
}
.icon-mail-opened:before {
	content: "\e606";
}
.icon-heart:before {
	content: "\e608";
}
.icon-target:before {
	content: "\e603";
}
.icon-linkedin:before {
	content: "\e60a";
}
